In [1]:
#importing required packages

import pandas as pd
import numpy as np
from datasets import load_dataset
import matplotlib.pyplot as plt

#loading dataset
dataset=load_dataset('lukebarousse/data_jobs')
#forming a dataframe
df = dataset['train'].to_pandas()


#data cleanup converting date column to date timetype from string type.
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

/opt/anaconda3/envs/python_course/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:

median_salary_year = df['salary_year_avg'].median()
median_salary_hour = df['salary_hour_avg'].median()
df_filled = df
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [4]:
df_filled.loc[0:10,'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [5]:
df_unique = df_filled
df_unique = df_unique.drop_duplicates()

print("Length of orignal dataset: ", len(df_filled))
print("Length of unique dataset: ", len(df_unique))
print("No of dropped rows: ", len(df_filled)-len(df_unique))

Length of orignal dataset:  785741
Length of unique dataset:  785640
No of dropped rows:  101

In [7]:
df_unique = df_unique.drop_duplicates(subset = ['job_title', 'company_name'])

In [8]:
print("Length of orignal dataset: ", len(df_filled))
print("Length of unique dataset: ", len(df_unique))
print("No of dropped rows: ", len(df_filled)-len(df_unique))

Length of orignal dataset:  785741
Length of unique dataset:  508042
No of dropped rows:  277699

In [9]:
df_unique.sample(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
52420,Cloud Engineer,Consultant Engineer,"Amersfoort, Netherlands",via BeBee,Full-time,False,Netherlands,2023-10-17 06:36:18,True,False,Netherlands,None,115000.0,45.98,Dustin Benelux B.V.,['aws'],{'cloud': ['aws']}
372837,Software Engineer,IT Support Engineer,"Solna, Sweden",via Trabajo.org,Full-time,False,Sweden,2023-03-24 18:25:12,True,False,Sweden,None,115000.0,45.98,NSC Global,None,None
754535,Data Analyst,Digital PMO & Data Analyst (H/F),"Abidjan, Côte d'Ivoire",via Jobart Talent,Full-time,False,Côte d'Ivoire,2023-02-01 22:00:27,False,False,Côte d'Ivoire,None,115000.0,45.98,Atlantic Financial Group Holding,['chef'],{'other': ['chef']}
667585,Data Analyst,Consultant- Data Analyst,"Albany, NY",via Diversity Jobs,Full-time,False,"New York, United States",2023-06-28 10:00:27,False,True,United States,None,115000.0,45.98,NYSTEC,"['sql', 'python', 'excel', 'power bi', 'tableau']","{'analyst_tools': ['excel', 'power bi', 'table..."
745807,Data Scientist,Data Scientist und Zuverlässigkeitingenieur fü...,"Abstatt, Germany",via LinkedIn,Full-time,False,Germany,2023-02-07 20:20:20,False,False,Germany,None,115000.0,45.98,Bosch,['python'],{'programming': ['python']}
418108,Data Scientist,Data Scientist,"Vienna, Austria",via Jobs Trabajo.org,Full-time,False,Austria,2023-06-20 16:55:37,False,False,Austria,None,115000.0,45.98,Stepstone Austria,None,None
229695,Business Analyst,Operations Analyst,"Bogotá, Bogota, Colombia",via BeBee,Full-time,False,Colombia,2023-09-26 07:23:49,False,False,Colombia,None,115000.0,45.98,Softline International,['excel'],{'analyst_tools': ['excel']}
300848,Data Engineer,BUSINESS DATA ANALYST/ENGINEER (m/w/d),"Dresden, Germany",via LinkedIn,Full-time,False,Germany,2023-04-14 17:50:27,True,False,Germany,None,115000.0,45.98,Fortuneglobe GmbH,"['sql', 'python', 'php', 'excel', 'qlik']","{'analyst_tools': ['excel', 'qlik'], 'programm..."
185923,Data Analyst,Remote Market Data Analyst,"Oakland, CA",via Trabajo.org,Full-time,False,"California, United States",2023-11-28 15:01:07,False,True,United States,None,115000.0,45.98,Anzarenewables,"['excel', 'sheets']","{'analyst_tools': ['excel', 'sheets']}"
311049,Business Analyst,Senior Analyst - Sales Operations,"San Francisco, CA",via LinkedIn,Full-time,False,"California, United States",2023-12-06 17:00:54,False,False,United States,None,115000.0,45.98,Harnham,None,None